/* Common Style */
.intro {
  margin-top: 60px;
}
.motto h2,
.past h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: var(--secondary);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.intro--content-info p,
.motto--content-list p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 26px;
  margin-bottom: 12px;
}

/* Intro */
.intro {
  width: 100%;
  display: flex;
}
.intro--image {
  width: 40%;
  display: flex;
  justify-content: center;
}
.intro--image picture {
  height: 600px;
  border-radius: 8px;
  overflow: hidden;
}

.intro--image img {
  width: 100%;
  height: 100%;
}
.intro--content {
  width: 60%;
}
.intro--content-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}

.intro--content-profession {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: var(--primary);
  margin-bottom: 16px;
}
.intro--content-info p {
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
  .intro--image {
    width: 50%;
    padding-left: 20px;
  }
  .intro--image picture {
    width: 100%;
    height: 500px;
  }
  .intro--image img {
    object-fit: cover;
    object-position: top;
  }
  .intro--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .intro {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .intro {
    position: relative;
    flex-direction: column;
  }
  .intro--image {
   display: none
  }
  .intro--content {
    width: 100%;
  }
  .intro--content p{
  font-size: 16px;
    padding-bottom: 0;
}
}

/* Motto */
.motto {
  margin-top: 60px;
  margin-bottom: 60px;
}
.motto--content-list {
  margin-bottom: 24px;
}
.motto--content-list:last-child {
  margin-bottom: 0;
}
.motto--content-list h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  color: var(--primary);
}

@media (max-width: 1024px) {
  .motto {
    margin-top: 20px;
  }
}

/* Unique Style */
.desktop--hidden {
  display: none;
}
@media (min-width: 767px) and (max-width: 1024px) {
  .mobile--hidden {
    display: none;
  }
  .desktop--hidden {
    display: block;
  }
}
