:root {
  --primary: #15e6bc;
  --btnPrimary: rgba(0, 175, 240, 0.7);
    --lightPrimary: rgba(0, 175, 240, 0.1);
    --secondary: #f7f7f7;
    --midSecondary: #f3f1f1;
    --darkSecondary: #e0e0e0;
    --darkborder: #b3b3b3;
    --darkText: #313131;
    --midText: #7b7b7b;
    --lightText: #acacac;
    --pure: #ffffff;
    --warning: #ff0000;
    --google: #db4a39;
    --fb: #3b5998;
    --linkedin: #0077b5;
    --dimText: #f7f7f7;

  }
  
  * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: var(--darkText);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
  }
    
  a {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
header {
  width: 100%;
  background: var(--dimText);
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.options {
  display: flex;
  align-items: center;
}

  /*Buttons */
  
  .btn {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 550;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
  }
  
  .btn-primary {
    font-size: 16px;
    border-radius: 20px;
    background: var(--btnPrimary);
    color: var(--pure);
    box-shadow: 2px 2px 2px #0287b8;
  }
  
  .btn-primary:hover {
    box-shadow: inset 2px 2px 2px rgba(0, 175, 240, 0.9), inset -1px -1px 2px #00aff0;
    color: #000;
  }
  
  .btn-primary2 {
    background: var(--btnPrimary);
    color: var(--pure);
    box-shadow: 1px 1px 1px #0287b8;
  }
  
  .btn-primary2:hover {
    color: var(--darkText);
    box-shadow: inset 2px 2px 2px rgba(0, 175, 240, 0.9), inset -1px -1px 2px #00aff0;
  }
  
  h1, h2, h3, h4, h5 {
    font-weight: 500;
  }
  
  h1 {
    font-size: 28px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  h4 {
    font-size: 16px;
  }
  
  h5 {
    font-size: 15px;
  }
  
  p {
    font-size: 14px;
    color: var(--midText);
    line-height: 1.5;
    word-spacing: 2px;
  }
  
  i {
    font-size: 16px;
    color: var(--lightText);
  }
  
  /*Search input text  in home page*/
  
  .btn-search {
    background: var(--pure);
    font-size: 14px;
    cursor: auto;
    text-transform: uppercase;
    box-shadow: inset 1px 1px 2px #e0e0e0, inset -1px -1px 1px #c9c9c9;
  }
  
  .btn-search:focus {
    box-shadow: inset 1px 1px 1px #c9c9c9, inset -1px -1px 1px #c9c9c9;
  }
  
  /* Search button in home page*/
  
  .btn-secondary {
    background: var(--darkSecondary);
    box-shadow: inset -1px -1px 1px #b3b3b3;
  }
  
  .btn-secondary:hover {
    background: #b3b3b3;
    box-shadow: inset 1px 1px 2px #acacac, inset -1px -1px 2px #acacac;
  }
  
  .btn-secondary2 {
    background: var(--pure);
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: inset 1px 1px 2px #e0e0e0, inset -1px -1px 1px #c9c9c9;
  }
  
  .btn-secondary2:hover {
    background: var(--secondary);
    box-shadow: inset 1px 1px 1px #c9c9c9, inset -1px -1px 1px #c9c9c9;
  }
  
  .btn-search2 {
    color: var(--pure);
    background: var(--btnPrimary);
    font-size: 14px;
    cursor: auto;
    text-transform: uppercase;
    box-shadow: inset -1px -1px 1px #039ed6;
  }
  
  .btn-search2:hover {
    color: var(--darkText);
    box-shadow: inset -1px -1px 1px #039ed6;
  }
  
  .btn-search2:hover i {
    color: var(--darkText);
  }
  
  /* End of Button of Input search  section*/
  
  /*  Selected Filter Buttons */
  
  .btn-filter {
    padding: 10px 15px;
    background: var(--pure);
    color: var(--midText);
    border: 1px solid #b3b3b3;
  }
  
  .btn-filter:hover {
    color: var(--darkText);
    background: var(--secondary);
  }
  
  .checked {
    color: orange;
  }
  
  .loc, .alumina {
    color: var(--primary);
  }
  
  .ribbon {
    color: rgb(204, 32, 32);
  }
  
  .fee {
    color: #1d771d;
  }
  
  .download {
    color: #ffffff;
  }
  
  .reward {
    color: rgb(59, 26, 150);
  }
  
  .out {
    color: #000;
  }
  
  /* Bread crumbs */
  
  #Breadcrumbs {
    width: 100%;
    padding: 10px 5px;
    margin: 0 auto;
    display: flex;
  }
  
  .crumbs li {
    display: inline;
  }
  
  .crumbs li+li:before {
    padding: 0 5px;
    content: "\003E";
    color: var(--midText);
  }
  
  .crumbs li a {
    font-size: 13px;
    color: var(--primary);
  }
  
  .crumbs li a:hover {
    color: var(--darkText);
  }
  
  /* Loader Code*/
  
  .loader {
    width: 70px;
    height: 70px;
    background-color: #00aff0;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: load 1.2s ease-in-out infinite;
  }
  
  @keyframes load {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
  }
  
  /*success*/
  
  .success, .error {
    margin: 10px 0px;
    padding: 12px;
  }
  
  .success {
    color: #4F8A10;
    background-color: #DFF2BF;
  }
  
  .error {
    color: #D8000C;
    background-color: #FFD2D2;
  }
  
  .success i, .error i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
  }
  
  .heart {
    color: #CC0000
  }
  
  @media (max-width: 767px) {
    h1 {
      font-size: 26px;
    }
    p {
      font-size: 12px;
    }
    .btn {
      padding: 10px 10px;
    }
  }
.S1,.S2{
    width: 100%;
    margin: 80px auto;
}

.S1container {
    display: flex;
    justify-content: space-between;
}

.S1left {
    width: 70%;
    margin: 0 30px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #e0dede;
}

.S1left div img {
    width: 100%;
    height: 400px;
}

.S1left .S1head, .S1head_bottom, .S1left .S1content {
    margin: 15px 15px 10px;
}

.S1head h2 {
    line-height: 1.5em;
    color: #00aff0;
}

.S1head_bottom {
    margin: 0 15px 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b3b3b3;
}

.S1head_bottom p, .S1left .S1footer div p {
    margin-right: 15px;
    font-size: 13px;
}

.S1head_bottom p i, .S1left .S1footer div p i {
    font-size: 14px;
    color: var(--midText);
    margin-right: 5px;
}

.S1left .S1content h3, .S1left .S1content ul, .S1left .S1content p, .S1left .S1content img {
    margin: 15px 0;
}

.S1left .S1content ul {
    margin: 15px 15px;
    font-size: 14px;
}

.S1left .S1content ul li {
    margin: 10px 0;
}

.S1left .S1content p, .S1left .S1content ul {
    color: var(--darkText);
    line-height: 1.8em;
}

.S1left .S1content img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.S1left .S1footer {
    padding: 10px 15px;
    border: 1px solid #f7f7f7f3;
    display: flex;
    justify-content: space-between;
}

.S1left .S1footer div {
    display: flex;
}

.S1left .S1footer .read i {
    margin-left: 5px;
}

/*Right Side*/

.S1right {
    width: 30%;
    margin-right: 30px;
}

.S1category h2, .S1recent_post h2, .S1popular_post h2 {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.S1category .category_rows {
    display: flex;
    align-items: center;
    margin: 25px 5px 15px 15px;
}

.S1category .category_rows i {
    margin-right: 10px;
}

.S1category .category_rows h4 {
    color: #00aff0;
}

/*recent posts section*/

.S1recent_post, .S1popular_post {
    margin: 50px auto;
}

.S1recent_post .rp_rows, .S1popular_post .pp_rows {
    display: flex;
    margin: 35px 5px 35px 15px;
}

.S1recent_post .rp_rows img, .S1popular_post .pp_rows img {
    width: 110px;
    height: 110px;
    border-radius: 5px;
    margin-right: 10px;
}

.S1recent_post .rp_rows .rp_title_footer, .S1popular_post .pp_rows .pp_title_footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.S1recent_post .rp_rows .rp_title_footer i, .S1popular_post .pp_rows .pp_title_footer i {
    margin-right: 5px;
    font-size: 13px;
}

.S1recent_post .rp_rows .rp_title_footer p, .S1popular_post .pp_rows .pp_title_footer p {
    font-size: 13px;
}

/* All posts */

.S2container{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

.S2posts {
    width: 320px;
    border-radius: 5px;
    margin: 0 30px 60px 0;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.S2posts img {
    width: 100%;
    height: 200px;
}

.S2posts .S2post_title {
    padding: 10px 10px;
    background: rgba(0, 175, 240, 0.5);
}

.S2posts .S2post_title h4 {
    width: 100%;
    color: var(--pure);
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.S2posts .S2post_content {
    padding: 15px 10px;
}

.S2posts .S2post_content p {
    font-size: 13px;
    color: #313131;
    line-height: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.S2post_footer{
    position: static;
    bottom: 0;
    left: 0;
    padding: 10px 10px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.S2post_footer .S2pf_col1{
    display: flex;
}
.S2post_footer .S2pf_col1 i, .S2post_footer .S2pf_col2 i{
    font-size: 12px;
    margin-right: 5px;
}
.S2post_footer .S2pf_col1 p{
    font-size: 12px;
    margin-right:10px;
}
.S2post_footer .S2pf_col2 p{
    font-size: 12px;
}
.S2post_footer .S2pf_col2 i{
    margin-left: 5px;
}


footer {
  position: relative;
  width: 100%;
  padding: 1rem 0 1.5rem;
  background: var(--dimText);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
