:root {
  --primary: #5a047d;
  --secondary: #027682;
  --secondaryBright:#15e6bc;
  --ternary: rgb(113, 5, 156, 0.5);
  --darkText: #313131;
  --primaryText: #666666;
  --midText: #b3b3b3;
  --lightText: #e0e0e0;
  --dimText: #f7f7f7;
  --pure: #fff;
  --border: #ccc;
  --git: #525151;
  --linkedin: #0077b5;
  --insta: rgba(225, 48, 108, 0.8);
}
