.gallery {
  margin-bottom: 60px;
  margin-top: 60px;
}

.gallery h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: var(--secondary);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column {
  -ms-flex: calc(100% / 4);
    flex: calc(100% / 4);
    max-width: calc(100% / 4);
}

.column img {
  margin-top: 1px;
  margin-right: 1px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}
@media (max-width: 1024px) {
  .column {
    -ms-flex: calc(100% / 2);
    flex: calc(100% / 2);
    max-width: calc(100% / 2);
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    margin-top: 2rem;
  }
  .column {
    -ms-flex: calc(100% / 2);
    flex: calc(100% / 2);
    max-width: calc(100% / 2);
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    margin-top: 2rem;
  }
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
