* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: var(--darkText);
  font-family: "Oxygen", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 1024px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}

/* Buttons */
.btn {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}

.btn-primary,
.btn-primary2,
.btn-secondary,
.btn-secondary2 {
  padding: 10px 25px;
}

/* Primary Button */
.btn-primary {
  background: var(--primary);
  border: 2px solid var(--primary);
}

.btn-primary:hover {
  background: var(--pure);
  border: 2px solid var(--primary);
}

.btn-primary2 {
  background: transparent;
  color: var(--pure);
  border: 2px solid var(--primary);
}

.btn-primary2:hover {
  background: var(--primary);
  color: var(--darkText);
  border: 2px solid var(--primary);
}

/* Secondary Buttons*/
.btn-secondary {
  background: var(--ternary);
  border: 2px solid var(--ternary);
}

.btn-secondary:hover {
  background: var(--pure);
  border: 2px solid var(--ternary);
}

.btn-secondary2 {
  background: transparent;
  color: var(--pure);
  border: 2px solid var(--ternary);
}

.btn-secondary2:hover {
  background: var(--ternary);
  border: 2px solid var(--ternary);
}

/* Heading Element */
h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

/* Paragraph */
p {
  font-size: 15px;
  line-height: 1.8em;
  word-spacing: 2px;
}

/* Fontawesome Icons */
i {
  font-size: 16px;
  color: var(--darkText);
}

.highlight {
  color: var(--primary);
}

.dark-highlight {
  color: var(--secondary);
}

/* Social Links */
.social-links a i {
  font-size: 21px;
  padding: 15px;
  border-radius: 50%;
}

.social-links a i:hover {
  font-size: 20px;
  color: var(--pure);
}

.social-links .linkedin i {
  color: var(--linkedin);
}

.social-links .linkedin i:hover {
  background-color: var(--linkedin);
}


.social-links .insta i {
  color: var(--insta);
}

.social-links .insta i:hover {
  background-color: var(--insta);
}

.social-links .git {
  color: var(--git);
}

.social-links .git i:hover {
  background-color: var(--git);
}

/* Header */
header {
  width: 100%;
  background: var(--dimText);
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 2;
}
header nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
header nav button i {
  color: var(--darkText);
  font-size: 25px;
}
header nav .logo img {
  height: 50px;
}
header nav .options {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  header nav .options {
    display: none;
  }
}
header nav .dropdown {
  position: relative;
  align-items: center;
  display: none;
}
@media (max-width: 576px) {
  header nav .dropdown {
    display: flex;
  }
}
header nav .dropdown-btn {
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: transparent;
}
header nav .dropdown-content {
  position: absolute;
  top: 50px;
  right: 15px;
  background: var(--darkText);
  border-radius: 5px;
  width: 180px;
  z-index: 1;
  display: none;
}
header nav .dropdown-content a {
  color: var(--pure);
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid var(--midText);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-bottom: 2px;
}
header nav .dropdown-content a:nth-last-child(1) {
  border-bottom: none;
}
header nav .dropdown-content a:hover {
  background: var(--pure);
  color: var(--darkText);
}
header nav .open {
  display: block;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  margin: 6.3rem auto 0;
  padding: 1rem 0 1rem;
  background: var(--lightText);
}
@media (max-width: 576px) {
  footer {
    margin: 4rem auto 0;
  }
  footer .btn {
    font-size: 12px;
  }
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer img {
  height: 50px;
}

.heroSection {
  position: relative;
  max-height: 800px;
  background: linear-gradient(180deg, #fbf1ff 0%, #e4fcff 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, -30% 83%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, -30% 83%, 0 100%);
}
.heroSection .leftTop {
  position: absolute;
  top: 50px;
  width: 200px;
}
.heroSection .rightBottom {
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 200px;
}
.heroSection .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroSection .container .right {
  z-index: 2;
}
.heroSection .container .left {
  width: 600px;
  margin-top: -100px;
  z-index: 2;
}
.heroSection .container .left .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}
.heroSection .container .left h1.profession {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: var(--primary);
  margin-bottom: 16px;
}
.heroSection .container .left .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px;
  border-left: 2px solid #44035e;
  color: var(--primaryText);
}
.heroSection .container .left .content p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 12px;
}
.heroSection .container .left .content p.highlight {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
}

/* Category Filter of Work */
.creativity--filter {
  margin-bottom: 60px;
}
.creativity--filter h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: var(--secondary);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.creativity--filter-container {
  display: flex;
}
.creativity--filter-item {
  margin-right: 30px;
  width: 25%;
  text-align: center;
  padding: 30px 16px;
  border-radius: 8px;
  background-color: rgba(111, 4, 153, 0.7);
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
}
.creativity--filter-item:first-child {
  background-color: rgba(10, 201, 222, 0.6);
  color: #313131;
}
.creativity--filter-item:last-child {
  margin-right: 0;
}

.creations {
  margin-bottom: 60px;
  margin-bottom: 60px;
}
.creations--wrapper h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: #027682;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.creations--list {
  display: flex;
  flex-direction: column;
}
.creations--list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 60px;
}
.creations--list-item:last-child {
  margin-bottom: 0;
}
.creations--list-item .left {
  margin-right: 60px;
  position: relative;
  display: inline;
  width: 400px;
  height: 400px;
  border: 10px solid #ccc;
  border-bottom: 10px solid #ccc;
  border-radius: 8px 8px 0 0;
}
.creations--list-item .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
.creations--list-item.even .left {
  margin-left: 60px;
  margin-right: 0;
}
.creations--list-item .right {
  width: 600px;
}
.creations--list-item .right .tag {
  color: #027682;
  font-size: 16px;
  font-weight: 400;
}
.creations--list-item .right h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 8px;
  color: #5a047d;
}
.creations--list-item .right p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}
.creations--list-item .right p span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.creations--list-item .right .links {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
}
.creations--list-item .right .links a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.creations--list-item .right .links a:first-child {
  margin-right: 24px;
}
.creations--list-item .right .links a:hover {
  color: #5a047d;
  font-weight: 600;
  font-size: 18px;
} /*# sourceMappingURL=main.css.map */
