:root {
    --primary: #15e6bc;
    --secondary: #71059c;
    --ternary: rgb(113, 5, 156, 0.5);
    --darkText: #313131;
    --midText: #b3b3b3;
    --lightText: #e0e0e0;
    --dimText: #f7f7f7;
    --pure: #fff;
    --git: #525151;
    --linkedin: #0077b5;
    --insta: rgba(225, 48, 108, 0.8);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: var(--darkText);
    font-family: 'Oxygen', sans-serif;
}

/* Below line is used get ur animation work without issue */

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Buttons */

.btn {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}

.btn-primary, .btn-primary2, .btn-secondary, .btn-secondary2 {
    padding: 10px 25px;
}

/* Primary Button */

.btn-primary {
    background: var(--primary);
    border: 2px solid var(--primary);
}

.btn-primary:hover {
    background: var(--pure);
    border: 2px solid var(--primary);
}

.btn-primary2 {
    background: transparent;
    color: var(--pure);
    border: 2px solid var(--primary);
}

.btn-primary2:hover {
    background: var(--primary);
    color: var(--darkText);
    border: 2px solid var(--primary);
}

.btn-secondary {
    background: var(--ternary);
    border: 2px solid var(--ternary);
}

.btn-secondary:hover {
    background: var(--pure);
    border: 2px solid var(--ternary);
}

.btn-secondary2 {
    background: transparent;
    color: var(--pure);
    border: 2px solid var(--ternary);
}

.btn-secondary2:hover {
    background: var(--ternary);
    border: 2px solid var(--ternary);
}

/* Heading Element */

h1, h2, h3, h4, p {
    font-weight: 400;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

/* Paragraph */

p {
    font-size: 15px;
    line-height: 1.8em;
    word-spacing: 2px;
}

/* Fontawesome Icons */

i {
    font-size: 16px;
    color: var(--darkText);
}

.highlight {
    color: var(--primary);
}

.dark-highlight {
    color: var(--secondary);
}

/* Header */

header {
    width: 100%;
    background: var(--dimText);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.brand img {
    height: 50px;
}

.options {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    display: none;
}

.dropdown-btn {
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: transparent;
}

nav button i {
    color: var(--darkText);
    font-size: 25px;
}

.dropdown-content {
    position: absolute;
    top: 50px;
    right: 15px;
    background: var(--darkText);
    border-radius: 5px;
    width: 180px;
    z-index: 1;
    display: none;
}

.dropdown-content a {
    color: var(--pure);
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid var(--midText);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
}

.dropdown-content a:nth-last-child(1) {
    border-bottom: none;
}

.dropdown-content a:hover {
    background: var(--pure);
    color: var(--darkText);
}

.open {
    display: block;
}

/* Social Links */

.social-links a i {
    font-size: 21px;
    padding: 15px;
    border-radius: 50%;
}

.social-links a i:hover {
    font-size: 20px;
    color: var(--pure);
}

.social-links .linkedin i {
    color: var(--linkedin);
}

.social-links .linkedin i:hover {
    background-color: var(--linkedin);
}

.social-links .insta i {
    color: var(--insta);
}

.social-links .insta i:hover {
    background-color: var(--insta);
}

.social-links .git {
    color: var(--git);
}

.social-links .git i:hover {
    background-color: var(--git);
}

/* Footer */

footer {
    position: relative;
    width: 100%;
    margin: 6.3rem auto 0;
    padding: 1rem 0 1rem;
    background: var(--lightText);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 50px;
}

@media (max-width:576px) {
    .options {
        display: none;
    }
    .dropdown {
        display: flex;
    }
    footer{
        margin: 4rem auto 0;
    }
    footer div .btn {
        font-size: 12px;
    }
}