@import 'utilities.css';
:root {
    --primary: #15e6bc;
    --secondary: #71059c;
    --ternary: rgb(113, 5, 156, 0.5);
    --darkText: #313131;
    --lightText: #e0e0e0;
    --dimText: #f7f7f7;
    --pure: #fff;
}

header {
    width: 100%;
    background: var(--pure);
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.options {
    display: flex;
    align-items: center;
}

.S1 {
    width: 100%;
    background: var(--darkText);
    display: flex;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}

.S1left {
    width: 20%;
}

.S1left img {
    width: 80%;
    height: 550px;
}

.S1right {
    width: 45%;
    text-align: left;
    margin-left: 50px;
}

.S1right-content {
    margin-top: 7.5rem;
}

.S1right-content h2 {
    color: var(--primary);
}

.S1right-content div {
    color: var(--pure);
    font-size: 34px;
    word-spacing: 2px;
    margin: 20px auto;
}

.S1right-content p {
    color: var(--pure);
    margin-bottom: 30px;
}

.S2 {
    width: 60%;
    margin: 6.3rem auto;
    background: rgba(21, 230, 188, 0.2);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.S2left {
    width: 250px;
    height: fit-content;
}

.S2left img {
    width: 100%;
}

.S2right {
    width: 100%;
    padding: 0 80px;
}

.S2right p {
    color: var(--secondary);
    margin: 1.2rem 0;
}

/*social links */

.S2social-links {
    margin: 1.2rem 0;
}

.S2social-links ul {
    list-style-type: none;
    display: flex;
}

.S2social-links a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.S2social-links i {
    font-size: 20px;
}

.S2social-links ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s cubic-bezier(.95, .32, .37, 1.31);
}

.S2social-links ul li a:hover i {
    color: white;
}

.S2social-links ul li a:hover:before {
    transform: scale(1);
}

.S2social-links ul .fb a:hover:before {
    background: #0077B5;
}

.S2social-links ul .insta a:hover:before {
    background: #e4405f;
}

.S2social-links ul .git a:hover:before {
    background: var(--darkText);
}

/* Section 3 */

.S3 {
    display: none;
    background: #ecebeb;
    margin: 6.3rem 0;
}

.S3Container {
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0;
}

.S3heading {
    text-align: center;
    margin-bottom: 1rem;
}

.S3heading+p {
    text-align: center;
    color: #313131;
    margin-bottom: 5rem;
}

.S3card {
    display: grid;
    /* Alloting no. of columns in one 1row */
    grid-template-columns: 1fr 1fr 1fr;
    /* OR  grid-template-columns: repeat(3,1fr); */
    /* Alloting space or gap between each column and row*/
    column-gap: 2rem;
    row-gap: 5rem;
}

.S3box {
    position: relative;
    background: white;
    padding: 4rem 2rem 3rem;
    text-align: center;
    transition: all 0.3s ease;
}

.S3box img {
    height: 80px;
    width: 100px;
    background: cyan;
    position: absolute;
    top: -2.5rem;
    /* left: will move the image after leaving 50%; hence it will be middle of Box*/
    left: 50%;
    /* BUt we want image center to be at 50% of box and not image starting so we use transform */
    transform: translateX(-50%);
}

.S3box h3 {
    margin-bottom: 0.3rem;
}

.S3box p {
    font-size: 12px;
    color: #313131;
}

.S3box:hover {
    background: #323232;
}

.S3box:hover h3, .S3box:hover p {
    color: #fff;
}

.S4 {
    margin: 100px auto;
    padding: 7rem 0 12rem;
    text-align: center;
    /* background with image and overlay on it */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/camera.png');
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 86%, 0 100%);
}

.S4 h1 {
    color: var(--primary);
    margin-bottom: 1.5rem;
}

.S4 p {
    color: var(--pure);
    margin-bottom: 2.5rem;
}

.S5 {
    margin: 6.3rem 0;
}

.S5Container {
    width: 50%;
    margin: 0 auto;
    padding: 3rem 0;
}

.S5heading {
    text-align: center;
    margin-bottom: 1rem;
}

.S5heading+p {
    font-size: 16px;
    color: var(--secondary);
    margin-bottom: 2rem;
}

.S5block {
    text-align: center;
    padding: 3rem 3rem;
    border-radius: 5px;
    background: var(--lightText);
}

.S5block img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.S5block p {
    margin-bottom: 2rem;
}

.S5sliderdots {
    margin-top: 1rem;
}

.S5sliderdots .S5dots {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.S5sliderdots .S5dots button {
    font-size: 0;
    width: 5px;
    height: 5px;
    margin-right: 0.3rem;
    background: var(--darkText);
    border-radius: 50px;
    cursor: pointer;
}

.S5dots li.slick-active button {
    background: var(--secondary);
    width: 8px;
}

.S6 {
    margin: 6.3rem 0;
    padding: 0 0 6rem;
    background: var(--darkText);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 92%, 0 100%);

}

.S6Container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
}

.S6Container h1{
    color: var(--pure);
}

.S6heading+p {
    font-size: 16px;
    color: var(--pure);
    margin: 1rem auto 3rem;
}

.S6card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
}

.S6box {
    position: relative;
    border-radius: 5px;
    height:250px;
    overflow: hidden;
}

.S6box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.S6overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(21, 230, 188,0.8);
    transition: all 0.3s ease;
    /* styling for the texts */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* by default content is hidden if opacity is 0 */
    opacity: 0;
}

.S6overlay:hover{
    opacity: 1;
}
.S6overlay:hover h1, .S6overlay:hover a{
    margin:0.5rem auto;
    color: var(--darkText);
}


.S7 {
    width: 100%;
    margin: 6.3rem 0;
    padding: 3rem 0 10rem;
    background: var(--lightText);
}

.S7Container {
    width: 80%;
    margin: 0 auto;
}

.S7heading {
    text-align: center;
    margin-bottom: 1rem;
}

.S7heading+p {
    text-align: center;
    color: var(--secondary);
    margin-bottom: 2rem;
}

.S7card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.S7box {
    width: 320px;
    background: #fff;
}

.S7image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.S7image img {
    width: 100%;
    height: 100%;
}

.S7content {
    padding: 1rem 2rem;
}

.S7content a h1 {
    color: #000;
    margin: 0 0;
}

.S7content a:hover h1 {
    color: cyan;
}

.S7content h4 {
    font-size: 12px;
    color: #acacac;
}

.S7content p {
    line-height: 1.5em;
    padding: 10px 0;
}

.S7content a:hover span {
    color: #000;
}

.S8 {
    margin: 6.3rem 0;
    padding: 3rem;
}

.S8Container {
    width: 80%;
    margin: 0 auto;
}

.S8heading {
    text-align: center;
    margin-bottom: 1rem;
}

.S8heading+p {
    text-align: center;
    color: #313131;
    margin-bottom: 3rem;
}

.S8part-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin-bottom: 1rem;
}

.S8part-2 {
    display: flex;
    flex-direction: column;
}

.S8Container input {
    border: 1px solid #e0e0e0;
    width: 100%;
    height: 2.2rem;
    padding: 0 10px;
    font-size: 14px;
}

.S8part-2 textarea {
    border: 1px solid #e0e0e0;
    padding: 10px 10px;
    margin-bottom: 1rem;
    font-size: 14px;
}

.S8part-2 input[type="text"] {
    margin-bottom: 1rem;
}

footer {
    width: 100%;
    text-align: center;
    padding: 4rem 0;
    background: #313131;
}

footer img {
    margin-bottom: 1.5rem;
}

.fSocial {
    margin-bottom: 1rem;
}

.fSocial i {
    font-size: 1.5rem;
}

.fSocial a {
    padding-right: 0.8rem;
}

.fSocial+div {
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 0.1em;
}

.site-main-wrapper {
    position: relative;
}

.toggle {
    position: absolute;
    border: solid olive;
    top: 20px;
    right: 40px;
    z-index: 1;
    background: none;
    cursor: pointer;
    display: none;
    color: #000;
}

.toggle i {
    font-size: 25px;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 2rem;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.open {
    transform: translateX(0);
}

.mobile-nav ul {
    list-style-type: none;
    padding-top: 3rem;
}

.mobile-nav li {
    padding-bottom: 1rem;
}

.mobile-nav li a {
    color: #000;
    z-index: 1;
}

.times {
    position: fixed;
    top: 20px;
    right: 30px;
    background: none;
}

.times i {
    font-size: 25px;
}

@media (min-width:768px) and (max-width:991px) {
    header #main-nav {
        display: none;
    }
    .toggle {
        display: block;
    }
}